.icon-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
}

.icon-grid__item {
  height: 5rem;
  border: 1px solid #cccccd;
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon-grid__text {
  margin-top: 0.3rem;
  display: block;
  font-size: 0.65rem;
}
